.body {

  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  background-color: #EAEBF5;

}

.login {
  width: 100%;
  max-width: 330px;
  text-align: center;
}

img {
  border-radius: 25%;
  width: 50%;
}

.ancho {
  width: 51%;
  height: auto;
}

.boton {
  height: 30%;
}

.spinner {
  margin: 0 auto;
}
